*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body{
    background-color:$background;
    min-height: 100%;
    font-family: $roboto-slab;

}
.App{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: break-word;

}

*::-webkit-scrollbar {width: 4px; height: 5px; }
*::-webkit-scrollbar-track {background: $bg-dark; }
*::-webkit-scrollbar-thumb {background-color: $primary-color; border-radius: 5px; }


li {
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border:none;
    background: none;
}

// CONTADOR DEL PRODUCTO
.cont-prod {
    height: 10%;
    width: 50%;
    border-radius: 100px;
    @include flex-center;
    justify-content: space-evenly;
    font-size: 1.3em;
    margin: 10px auto 2px;

    .btn-cont {
        color: $secundary-color;
        border-radius: 100%;
        font-size: 2em;
        padding: 5px;
        transition: all ease .3s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1)
        }
    }
}

.contain{
    @include flex-center;
    flex-direction: column;
    width: 80%;
    height: auto;
    background: $bg-dark;
    padding: 20px;
    border-radius: 20px;
    border: solid .5px $primary-color;
    margin:  3rem auto;
    box-shadow: 0px 0px 12px 5px $bg-dark;

    -webkit-animation: scale-in-center .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: scale-in-center .5s cubic-bezier(.25, .46, .45, .94) both;
    @-webkit-keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1
        }
    }
    @keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1
        }
    }

    
}